body {
    overflow: hidden;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 40px 30px;
}

p,
a,
li {
    font-family: 'Quicksand', sans-serif;
}

input.input {
    border-radius: 0;
}

/* PAGINATION */

/* PAGINATION */

.pagination li a {
    transition: all .3s ease;
    color: #BEA233;
}

.pagination li:hover a {
    background: #DCE0E0;
    transition: all .3s ease;
}

ul.pagination {
    justify-content: center;
}

li.page-item {
    padding: 2px;
    font-size: 14px;
}

.pagination-next,
.pagination-previous {
    background: white;
    border-color: #fff!important;
}

/* HERO */

div.hero-body h1.title {
    font-size: 3em;
}

div.hero-body p {
    font-size: 2rem;
}

div.hero-body h1.title,
div.hero-body p {
    color: #fff;
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
}


/* START DROPDOWN */

/* NAV */
@media screen and (max-width: 1087px){

    span.navbar-burger {
        background: black;
        transition: all .2s ease;
        margin-top: 10px;
    }
    
    .navbar-menu.is-active {
        display: block;
        transition: all .3s ease;
        position: absolute;
        right: 0;
        top: -20px;
        height: 105vh;
    }

    .navbar-burger {
        z-index: 1000;
    }
    
    div.navbar-menu {
        display: block;
        position: absolute;
        right: -1000px;
        transition: all .3s ease;
        padding: 40px;
        height: 105vh;
        top: -20px;
    }

    .head-nav li a.nav-item,
    .head-nav a.parent-drop {
        color: #000!important;
    }

    div#navbarMenuHeroC ul:first-child {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    div#navbarMenuHeroC {
        padding: 40px 60px 0 60px;
        position: fixed;
        overflow-y: auto;
    }

    ul.head-nav li {
        padding: 10px;
        color: black;
    }

    .sub.sub-active-menu {
        max-height: 600px;
        transition: max-height .3s ease;
        background: #fff;
        /* padding: 10px;
        margin-top: 15px; */
    }
    
    .sub {
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease;
    }
}



@media screen and (min-width:1087px) {
    .head-nav li {
        display: inline-block;
        padding: 0 20px;
    }

    ul.sub {
        position: absolute;
        display: none;
    }

    .sub-menu:hover ul.sub {
        display: block;
        background: #fff;
        padding: 10px 0;
        margin-top: 38px;
    }

    .dropdown-i {
        transition: all .2s ease;
        padding: 0 5px;
    }

    .sub-menu:hover .dropdown-i {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg );
        transition: all .4s ease;
    }

    .sub li {
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
    }

    .head-nav a.nav-item,
    .head-nav a.parent-drop {
        padding: 40px 0;
        color: white;
    }
}

/* ALL SCREEN SIZE MENU */
header.navbar {
    padding: 10px 0;
}

a.navbar-item img {
    max-height: 4rem;
}

.navbar-end {
    align-items: center!important;
}



.sub-menu li a,
a.parent-drop {
    color: black;
}


.sub-menu:hover .sub-active-menu {
    max-height: 600px;
    transition: max-height .3s ease;
}

.navbar-brand h1 {
    font-size: 1.3em;
    color: white;
}




/* END DROP DOWN */



.navbar>.container {
    align-items: center!important;
}

span.navbar-burger {
    color: #f1f1f1;
}



@media screen and (max-width: 768px) {
    .info-list {
        columns: 1!important;
        -webkit-columns:1!important;
        -o-columns: 1!important;
        -moz-columns: 1!important;
    }
}

ul.info-list {
    columns: 2;
    -webkit-columns:2;
    -o-columns: 2;
    -moz-columns: 2;
    list-style-position: outside!important;
    -webkit-list-style-position: outside!important;
    -o-list-style-position: outside!important;
}

.info-list li {
    text-align: left;
    padding: 10px 0;
    font-size: 18px;
}

div.message-header {
    padding: 25px;
    background: #444C5C;
}

.message-header h2 {
    color: #fff;
}

.message-body h2 {
    padding: 25px;
}

.message-body i {
    color: #bea233;
    margin-right: 8px;
}

/* ICON CTA */

#icon-cta i {
    font-size: 2rem;
    padding-bottom: 20px;
    color: #bea233;
}

#icon-cta p {
    font-size: 1.2rem;
}

#icon-cta {
    background: #fafafa;
}

/* INTRO SECTION */

#intro-section p {
    font-size: 1.1rem;
}

#intro-section i {
    color: #bea233;
    margin-right: 8px;
}

/* FOOTER */

footer.footer {
    background: #444C5C;
    color: #fff;
}

div.bottom-footer {
    background-color:#313b4f;
    padding: 10px 0;
}

.bottom-footer a {
    color: #fff;
}

/* CONTACT PAGE */

.contact-content i {
    margin-right: 10px;
}

.contact-content ul li {
    margin: 15px 0;
}