  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    {{ with .Params.meta_title }}
    <title>{{ . }}</title>
    {{ end }}

    {{ with .Params.meta_description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
  <meta name="google-site-verification" content="YiESwbjWVv8E7Hhsrxmed3-YZE-DkVmcyix44Pedgqo" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
    <script src="https://kit.fontawesome.com/2dac2bfc0f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ .Site.Data.design.logo.favicon }}" />
</head>
<body>
