{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="contact-content">
                    <h1 class="title is-3" style="text-transform: uppercase;">Realize Your Dream of Home Ownership</h2>
                    <p class="content">Whether you're buying your first home or your dream home, we have a mortgage solution for you. Get in touch today</p>
                    {{ $profilecontact := .Site.Data.profile.primary_account }}
                    {{ $profileaddress := .Site.Data.profile.address }}
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i>{{ $profileaddress.street_address }} {{ $profileaddress.primary_city }}, {{ $profileaddress.primary_state }} {{ $profileaddress.primary_zip_code }}</li>
                        <li><i class="fas fa-mobile-alt"></i>{{  $profilecontact.primary_phone_number }}</li>
                        <li><i class="far fa-envelope"></i>{{  $profilecontact.primary_email }}</li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <form name="contact" method="POST" data-netlify="true">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="First Name">
                        </div>
                      </div>

                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="Last Name">
                        </div>
                      </div>

                      <div class="field">
                        <label class="label">Phone</label>
                        <div class="control">
                          <input class="input" type="email" value="">
                        </div>
                      </div>
                      
                      <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                          <input class="input" type="email">
                        </div>
                      </div>
                    
                      
                      <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                          <textarea class="textarea"></textarea>
                        </div>
                      </div>
                      
                      <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link" type="submit" style="background:#bea233">Submit</button>
                        </div>
    
                      </div>
                      </form>
            </div>
        </div>
    </div>
</div>

{{ end }}