{{ define "main" }}

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="contact-content">
                    <h1 class="title is-3" style="text-transform: uppercase;">We want to help you Achieve Your Goal!</h2>
                    <p class="content">Whether you are refinancing or purchasing a replacement home, we have a mortgage solution for you. Get in Touch Today.</p>
                    {{ $profilecontact := .Site.Data.profile.primary_account }}
                    {{ $profileaddress := .Site.Data.profile.address }}
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i>{{ $profileaddress.street_address }} {{ $profileaddress.primary_city }}, {{ $profileaddress.primary_state }} {{ $profileaddress.primary_zip_code }}</li>
                        <li><i class="fas fa-mobile-alt"></i><a href="tel:{{  $profilecontact.primary_phone_number }}" class="has-text-black">{{  $profilecontact.primary_phone_number }}</a></li>
                        <li><i class="far fa-envelope"></i><a href="mailto:{{  $profilecontact.primary_email }}" class="has-text-black">{{  $profilecontact.primary_email }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <form name="contactform" method="POST" netlify-honeypot="bot-field" data-netlify="true">
                  <input name="bot-field" type="hidden">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="First Name" name="first name" required>
                        </div>
                      </div>

                      <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="Last Name" name="last name" required>
                        </div>
                      </div>

                      <div class="field">
                        <label class="label">Phone</label>
                        <div class="control">
                          <input class="input" type="email" name="phone number" required>
                        </div>
                      </div>
                      
                      <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                          <input class="input" type="email" name="email" required>
                        </div>
                      </div>
                    
                      
                      <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                          <textarea class="textarea" name="message" required></textarea>
                        </div>
                      </div>
                      
                      <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link" type="submit" style="background:#bea233">Submit</button>
                        </div>
    
                      </div>
                      </form>
            </div>
        </div>
    </div>
</div>

{{ end }}